.header {
    display: flex;
    width: 375px;
    height:80px;
    background-image: url('../../assets/img/header.png');
    background-size:125%;
    background-position: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;

}
.header-name {
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
    
}
.noti {
    background-image: url('../../assets/img/noti.png');
    width:22px;
    height:26px;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 10px;
}