.header {
    display: flex;
    width: 375px;
    height:80px;
    background-image: url('../../assets/img/header.png');
    background-size:125%;
    background-position: center;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.header-name {
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
    
}
