<!-- <div class="food">
    <img src="http://www.cafecoffeeday.com/thelounge/images/ccd-lounge-cold-side.jpg" alt="mocha">
    <div class="caption">
        <h2>CaFe Mocha</h2>
        <h5>65.000 vnd</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <button class="details">Details</button>
    </div>
</div> -->
<!-- 
<div *ngIf="showContent ===1">Content 1</div>
<div *ngIf="showContent ===2">Content 2</div>

<ul>
    <li *ngFor="let item of food">{{item}}</li>
</ul> -->

