$margin:unset;

.food {
    height:170px;
    width: 360px;
    display: -webkit-flex;
    display: flex;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    color: rgb(77, 32, 32);
    
}
img {
    width: 48%;
    height: auto;
    object-fit: cover;
    padding-right: 3px;
}
.caption {
    text-align: center;
}
h2 {
    font-size: 20px;
    margin:$margin;
    margin-top: 12px;
    color: rgb(83, 57, 0);
    
}
h5 {
    font-size: 14px;
    margin:$margin;
    margin-top: 7px;
    
}
p {
    font-size: 9.5px;
    margin:$margin;
    margin-top: 7px;
    
}
.details {
    
    background-color: rgb(77, 32, 32);
    border-radius: 2em;
    text-align: center;
    color: white; 
    font-size: 12px;
    margin-top: 25px;
    padding: 5px 20px 5px 20px;
    border-width:0px;
    
}

